@model IEnumerable<TwitterCopyApp.Models.Post>

<div class="row pb-3 backgroundWhite">

    @foreach (var post in Model)
    {
        <div class="col-8 p-2 container overflow-hidden">
            <div class="card border-primary mb-3">
                <div class="card-header form-inline">
                    <div class="col-8">@post.User.UserName says:</div>
                    <div class="col-4">@post.CreationDate.ToString("yyyy/MM/dd HH:mm")</div>
                </div>
                <div class="card-body">
                    <p class="card-text col-12">@post.Text</p>
                </div>
                <div class="card-footer form-inline">
                    <input class="col-1 w-50 text-center" style="pointer-events:none" value="@post.Likes"/>
                    <button class="btn btn-outline-secondary col-3 ml-5 w-auto" style="background-color:dodgerblue">Like!</button>
                    <button class="btn btn-primary col-8 w-auto offset-6">Add comment</button>
                </div>
            </div>
        </div>
    }

</div>